@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #e2f7f5;
}

h1 {
  margin-bottom: 18px;
}

.card {
  width: 550px;
  margin: 50px;
  border: 8px solid #222222;
}

.card::after {
  content: "";
  display: block;
}

.avatar {
  width: 100%;
  display: block;
}

.data {
  padding: 50px;
  padding-top: 27px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 27px;
}

.skill {
  padding: 10px 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 18px;
  font-weight: 550;
}
